<nav class="sidebar">
  <div class="sidebar-header">
    <h2>Navegación</h2>
  </div>
  <ul class="sidebar-menu">
    <li><a routerLink="login" routerLinkActive="active" class="sidebar-link" (click)="setTitle('Hacer un Pedido')" >Pedido</a></li>
    <li><a routerLink="" routerLinkActive="active" class="sidebar-link" (click)="setTitle('Administrar Caja')">Caja</a></li>
    <li><a routerLink="" routerLinkActive="active" class="sidebar-link" (click)="setTitle('Administrar Pagos')">Pagos</a></li>
    <li><a routerLink="menus" routerLinkActive="active" class="sidebar-link" (click)="setTitle('Platos a la Carta')">Carta</a></li>
  </ul>
  <div class="sidebar-footer">© 2025 Jireh</div>
</nav>
