<nav class="sidebar">
  <div class="sidebar-header">
    <h2>Navegación</h2>
  </div>
  <ul class="sidebar-menu">
    <li><a routerLink="/menudashboard" routerLinkActive="active" class="sidebar-link">Pedido</a></li>
    <li><a routerLink="/" routerLinkActive="active" class="sidebar-link">Menú</a></li>
    <li><a routerLink="/" routerLinkActive="active" class="sidebar-link">Pagos</a></li>
    <li><a routerLink="/" routerLinkActive="active" class="sidebar-link">Caja</a></li>
  </ul>
  <div class="sidebar-footer">© 2025 Jireh</div>
</nav>
