.search-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  overflow: hidden;
}

.search-input {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  width: 200px;
  transition: border-color 0.2s;
  min-width: 50vw;
  overflow: hidden;

  &:focus {
    border-color: var(--input-placeholder);
  }
}

.search-btn {
  padding: 0.5rem 1.2rem;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: var(--btn-border-radius);
  font-size: var(--btn-txt-size);
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background-color: var(--btn-hover-bg-color);
  }
}
