.menubar-container {
  display: flex;
  padding: 2vh 6vw 2vh 2vw;
  gap: 2vw;;
  flex-direction: row;
  width: 100%;
}

.btn {
  border: none;
  font-size: var(--btn-txt-size);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background: var(--btn-bg-color);
  color: var(--btn-text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--btn-hover-bg-color);
  }

  &.active {
    background-color: var(--btn-active-bg-color);
    color: var(--btn-active-text-color);
  }
}
