@import 'bootstrap/scss/bootstrap';

.sidebar-width {
  width: 250px;
  min-width: 250px;
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid #fff;
}

.cursor-pointer {
  cursor: pointer;
}
