.table-container {
  width: 90%;
  height: 100%;

  th {
    border: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
  }

  td {
    border: inherit;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
}

.pag-container {
  display: block;
  position: fixed;
  right: 16vw;
  bottom: 10vh;
  background: white;
}
