<div class="container-fluid mt-4">
  <div class="row mb-4">
    <div class="col-12 text-center">
      <div class="btn-group">
        <button class="btn btn-primary mx-2">Ver todos los platos</button>
        <button (click)="showForm = true" class="btn btn-success mx-2">Añadir Menú</button>
        <button class="btn btn-danger mx-2">Eliminar Menú</button>
      </div>
    </div>
  </div>
  @if (showForm) {
    <app-menu-form
      (nameEntered)="onNameEntered($event)"
      (exitEvent)="showForm=false">
    </app-menu-form>
  }
  <div class="row row-cols-1 row-cols-md-3 g-4">
    @if (menus$ | async; as menus) {
      @for (menu of menus; track menu.idMenu) {
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ menu.name.toLocaleUpperCase() }}</h5>
              <a [routerLink]="['/menu', menu.idMenu, 'products']" class="stretched-link">
                <img src="" class="card-img-bottom" alt="{{menu.name}}">
              </a>
            </div>
          </div>
        </div>
      }
    } @else {
      <div class="col-12 text-center">
        <p class="text-muted">Aun no hay menus</p>
      </div>
    }
  </div>
</div>
